@import url(variables.css);

.footer {
  top: 130px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
  width: 100%;
  height: 130px;
  background-color: var(--blackColor);
}

.container-copyright {
  height: 90px;
  width: 90px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background-color: var(--whiteColor);
}

.container-copyright > img {
  width: 90%;
}

.footer > p {
  font-size: var(--fontSizeLink);
  font-family: var(--fontDefault);
  color: var(--whiteColor);
  text-transform: uppercase;
}

@media (max-width: 830px) {
  .footer > p {
    font-size: 1em;
  }

  .container-copyright {
    height: 70px;
    width: 70px;
  }
}

@media (max-width: 500px) {
  .container-copyright {
    height: 50px;
    width: 50px;
  }
  .footer > p {
    font-size: 0.8em;
  }
}
