@import url(variables.css);

.container-btn-top {
  height: 70px;
  width: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: yellow;
  border-radius: 50%;
  z-index: 150;
  cursor: pointer;
}

.container-modalidades {
  top: 130px;
  position: relative;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
  width: 100%;
  gap: 1.5em;
}

.titulo-principal {
  font-size: var(--fontSizeTitle);
  font-family: var(--fontDefault);
  letter-spacing: 0.15em;
  color: var(--redColor);
}

.titulo-secundario {
  color: var(--redColor);
  font-family: var(--fontDefault);
}

.container-info {
  animation: translateAndFadeLeft 2s normal;
  position: relative;
  top: 50px;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  width: 45%;
  gap: 1.5em;
  margin-left: 1.5em;
  margin-bottom: 130px;
}

.info {
  font-family: var(--fontDefault);
  line-height: 1.8em;
  font-size: var(--fontSizeDefault);
  text-align: justify;
}

/*-------------------------------------MODALIDADE TAI CHI CHUAN--------------------------*/

.container-modalidade-tai-chi-chuan {
  top: 130px;
  position: relative;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
  width: 100%;
  gap: 1.5em;
  background-color: var(--redColor);
}

.info-alternative {
  font-family: var(--fontDefault);
  line-height: 1.8em;
  font-size: var(--fontSizeDefault);
  text-align: justify;
  color: var(--whiteColor);
}

.titulo-principal-alternative {
  font-size: var(--fontSizeTitle);
  font-family: var(--fontDefault);
  letter-spacing: 0.15em;
  color: var(--whiteColor);
  text-transform: uppercase;
}

.titulo-secundario-alternative {
  color: var(--whiteColor);
  font-family: var(--fontDefault);
}

.container-foto-tai-chi-chuan {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 350px;
  width: 350px;
  border-radius: 1.2em;
  border: 5px solid var(--whiteColor);
  margin-top: 2.5em;
}

.container-foto-tai-chi-chuan > img {
  width: 100%;
  height: 90%;
  border-top-left-radius: 1em;
  border-top-right-radius: 1em;
}

.descricao-foto-alternative {
  text-align: center;
  color: var(--redColor);
  background-color: var(--whiteColor);
  width: 100%;
  height: 10%;
  padding: 0.15em;
  font-size: var(--fontSizeDefault);
  font-family: var(--fontDefault);
  letter-spacing: 0.15em;
  border-bottom-left-radius: 0.6em;
  border-bottom-right-radius: 0.6em;
  text-transform: uppercase;
}

/*------------------------CONTAINER MODALIDADE WING CHUN -------------------*/

.container-modalidade-wing-chun {
  top: 130px;
  position: relative;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
  width: 100%;
  gap: 1.5em;
  background-color: var(--whiteColor);
}

.titulo-principal-jow-ga {
  font-size: var(--fontSizeTitle);
  font-family: var(--fontDefault);
  text-transform: uppercase;
  letter-spacing: 0.15em;
  color: var(--redColor);
}

.info-jow-ga {
  font-family: var(--fontDefault);
  line-height: 1.8em;
  font-size: var(--fontSizeDefault);
  text-align: justify;
}
.container-foto-wing-chun {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 350px;
  width: 350px;
  border-radius: 1.2em;
  border: 5px solid var(--redColor);
}

.container-foto-wing-chun > img {
  width: 100%;
  height: 90%;
  border-top-left-radius: 1em;
  border-top-right-radius: 1em;
}

.descricao-foto-wing-chun {
  text-align: center;
  color: var(--whiteColor);
  background-color: var(--redColor);
  width: 100%;
  height: 10%;
  padding: 0.15em;
  font-size: var(--fontSizeDefault);
  font-family: var(--fontDefault);
  letter-spacing: 0.15em;
  border-bottom-left-radius: 0.6em;
  border-bottom-right-radius: 0.6em;
  text-transform: uppercase;
}

/*-----------------------CONTAINER FOTOS ANIMAIS---------------------------*/

.container-fotos-animais {
  position: relative;
  top: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  width: 50%;
  gap: 1.8em;
  animation: translateAndFade 2s normal;
  margin-bottom: 130px;
}

.container-foto-animal {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 350px;
  width: 350px;
  border-radius: 1.2em;
  border: 5px solid var(--redColor);
}

.container-foto-animal > img {
  width: 100%;
  height: 90%;
  border-top-left-radius: 1em;
  border-top-right-radius: 1em;
}

.descricao-foto {
  text-align: center;
  color: var(--whiteColor);
  background-color: var(--redColor);
  width: 100%;
  height: 10%;
  padding: 0.15em;
  font-size: var(--fontSizeDefault);
  font-family: var(--fontDefault);
  letter-spacing: 0.15em;
  border-bottom-left-radius: 0.6em;
  border-bottom-right-radius: 0.6em;
  text-transform: uppercase;
}

/*-------------------CONTAINER MODALIDADE SANDA ------------------------*/

.container-modalidade-sanda {
  top: 130px;
  position: relative;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
  width: 100%;
  gap: 1.5em;
  background-color: var(--redColor);
}

/*------------------------ANIMAÇÕES----------------------------------*/

@keyframes translateAndFade {
  0% {
    transform: translateX(100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes translateAndFadeLeft {
  0% {
    transform: translateX(-100%);
    opacity: 0;
  }

  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

/*----------------------------RESPONSIVIDADE-----------------------------*/

@media (max-width: 1500px) {
  .container-foto-animal,
  .container-foto-tai-chi-chuan,
  .container-foto-wing-chun {
    width: 250px;
    height: 250px;
  }
}

@media (max-width: 1225px) {
  .container-info {
    width: 90%;
    margin-right: 1.5em;
  }
  .container-fotos-animais {
    width: 90%;
  }
  .titulo-principal {
    font-size: 3em;
  }

  .titulo-principal-jow-ga {
    font-size: 3em;
  }
  .titulo-principal-alternative {
    font-size: 2.5em;
  }
  .container-foto-animal,
  .container-foto-tai-chi-chuan,
  .container-foto-wing-chun {
    width: 550px;
    height: 500px;
    object-fit: cover;
  }
}
@media (max-width: 825px) {
  .titulo-secundario {
    font-size: 0.85em;
  }
  .logo {
    height: 90px;
    width: 90px;
    margin-left: 20px;
  }
  .container {
    margin-right: 20px;
  }
  .info {
    font-size: 0.9em;
  }
  .container-foto-animal,
  .container-foto-tai-chi-chuan,
  .container-foto-wing-chun {
    width: 90%;
    height: 500px;
    object-fit: cover;
  }
}
